input {
  font-family: "Lato", sans-serif;
}

.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  font-size: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 12px;
  position: absolute;
  right: 0;
  background-color: #2f74c0;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 10px black;
  transition: all .2s;
}

.input_submit:hover {
  background-color: #2f96da;
}


.input_submit:active {
  transform: scale(.8);
  box-shadow: 0 0 5px black;
}

.todos {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
  width: 95%;
}

.list-element {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: gold;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  transition: all .2s;
}

.list-element:hover {
  cursor: grab;
  transform: scale(1.03);
  box-shadow: 0 0 5px black;
}

.list-element.done {
  text-decoration: line-through;
}

.list-element__input {
  border: none;
  font-size: 16px;
  padding: 0;
}

.list-element__icon {
  margin: 0 5px;
  cursor: pointer;
}

.grid {
  display: flex;
  width: 95%;
}

.grid-container {
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
  align-self: baseline;
}

.grid-container:nth-child(1) {
  background-color: #32c3cd;
  margin-right: 10px;
}

.grid-container:nth-child(2) {
  background-color: #eb6750;
  margin-left: 10px;
}

.grid-header {
  color: white;
}

.grid .todos {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .grid {
    flex-direction: column;
  }

  .grid-container {
    margin-top: 2rem;
  }

  .grid-container:nth-child(1) {
    margin-right: 0;
  }
  
  .grid-container:nth-child(2) {
    margin-left: 0;
  }
}